.gly-add {
    top:50%;
    font-size: 50px;
}
.mar-top {
    margin-top: 10px;
}
.coursetitle{
    font-size: 1.4em;color: #B5090B;font-weight: bolder;margin-bottom: 10px;
}
.row-p-content {
    text-align: justify;
}